<!DOCTYPE html>
<html>
<head>
  <title>1appamonth - Learn, make, finish</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
  <link href="http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet" />
  <%= stylesheet_link_tag "application" %>

  <style>
    html {
      background: url(<%= asset_path("awesome.jpg") %>) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    body {
      padding-top: 20px;
      font-size: 16px;
      font-family: "Open Sans",serif;
      background: transparent;
    }
    h1 {
      font-family: "Abel", Arial, sans-serif;
      font-weight: 400;
      font-size: 40px;
    }
    .panel {background-color: rgba(255, 255, 255, 0.9); }
    .margin-base-vertical {margin: 40px 0; }
  </style>

</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 panel panel-default">

        <% flash.each do |key, val| %>
          <h1 class="margin-base-vertical alert alert-info <%= key %>"><%= val %></h1>
        <% end %>


        <h1 class="margin-base-vertical">1appamonth</h1>

        <p>
          Our goal is to help inspire people to learn, make, and to simply finish things.
        </p>

        <p>
          This will be a place to upload and shares apps that you've made and get instant feedback from others.
        </p>

        <p>
          The aim is to make 1 app of any style (game / utility / business / anything) and spend the entire month tweaking, adding features, and adding the finishing details.
        </p>

        <h3> When we finish the site we will let you know!</h3>

        <%= form_for @email, url: create_email_path, html: { class: "margin-base-vertical" } do |f| %>
          <p class="input-group">
            <span class="input-group-addon"><span class="icon-envelope"></span></span>
            <%= f.email_field :email, placeholder: "heinleng@gmail.com", class: 'form-control input-lg'%>
          </p>
          <p class="text-center">
            <button type="submit" class="btn btn-success btn-lg">Keep me posted</button>
          </p>
          </span>
        </form>
        <% end %>

      </div><!-- //main content -->
    </div><!-- //row -->
  </div> <!-- //container -->


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-32249213-3', '1appamonth.io');
  ga('send', 'pageview');

</script>

</body>
</html>
